body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #051b30;
}

.navbar {
    background-color: #9ec8c3;
    color: white;
    text-align: center;
}

.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

.navbar li {
    margin: 0 10px;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    display: inline-block;
}

.navbar a:hover {
    background-color: white;
    color: #212a55;
    border-radius: 5px;
}

.header {
    position: relative;
    width: 100%;
    background-color: #051b30;
    overflow: hidden;
}

.header img {
    width: 40%;
    height: auto;
    float: right;
    margin: 0;
    padding: 0;
}

.header h1 {
    position: absolute;
    top: 18%;
    left: 1.5%;
    color: #f2d299;
    font-size: 6.8em;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 3px;
    font-weight: lighter;
    font-style: italic;
    z-index: 2;
}

.header .flavors {
    position: absolute;
    margin: 450px 0 0 0;
    color: #f2d299;
    font-size: 1.3em;
    font-weight: lighter;
    letter-spacing: 0.1em;
    left: 10%;
    text-align: left;
    z-index: 2;
}

.food-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    background-color: #051b30;
    padding: 35Px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.food-item img {
    width: 200px; /* Fixed width for images */
    height: auto; /* Maintain aspect ratio */
    margin-right: 20px; /* Space between image and text */
    border-radius: 10px; /* Smooth edges for images */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Slightly stronger shadow for emphasis */
}

.food-item p {
    font-size: 1.3em; /* Text size for readability */
    color: #f2d299; /* Golden color for matching aesthetic */
    line-height: 1.3; /* Better readability */
    margin: 0; /* Remove any default margins */
    F
}

.american-soul {
    padding: 40px;
    background-color: #051b30;
    text-align: center;
    margin: 0;
}

.american-soul h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #f2d299;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.american-soul p {
    font-size: 1.5em;
    margin-bottom: 30px;
    color: #f2d299;
    line-height: 1.6;
}

.soul-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.soul-item {
    text-align: center;
}

.soul-item img {
    width: 67%;
    height: 70%;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
}

.soul-item h3 {
    font-size: 1.8em;
    color: #f2d299;
    text-transform: uppercase;
}